<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/" style="height:50px; padding-top:0; padding-bottom:0; display:inline-flex; align-items:center; line-height:1;"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/penrose_logo_light.svg" alt="PRISM logo" style="height:24px; width:auto; margin-right:8px; position:relative; top:2px;"><span><span class="navbar-rainbow">PRISM</span> Lab @ Seoul &rarr; <span style="color:#3E7397;">SSWU</span></span></a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Achievements</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/teaching">Lectures</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/others">Others</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/deadlines">Deadlines</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/playground">Playground</a></li>
		<li>
		  <a href="#" id="lang-toggle" role="button" aria-label="Switch language" title="한국어 / English"><span class="lang-label lang-to-ko">한국어</span><span class="lang-label lang-to-en">EN</span></a>
		</li>
		<li>
		  <a href="#" id="theme-toggle" role="button" aria-label="Toggle dark mode" title="Toggle dark / light mode">
			<svg class="theme-icon theme-icon-moon" viewBox="0 0 24 24" aria-hidden="true"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/></svg>
			<svg class="theme-icon theme-icon-sun" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 17a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-13a1 1 0 0 1 1 1v1a1 1 0 0 1-2 0V5a1 1 0 0 1 1-1zm0 15a1 1 0 0 1 1 1v1a1 1 0 0 1-2 0v-1a1 1 0 0 1 1-1zM4 12a1 1 0 0 1 1-1h1a1 1 0 0 1 0 2H5a1 1 0 0 1-1-1zm14 0a1 1 0 0 1 1-1h1a1 1 0 0 1 0 2h-1a1 1 0 0 1-1-1zM6.34 6.34a1 1 0 0 1 1.41 0l.71.71a1 1 0 0 1-1.41 1.41l-.71-.71a1 1 0 0 1 0-1.41zm9.19 9.19a1 1 0 0 1 1.41 0l.71.71a1 1 0 0 1-1.41 1.41l-.71-.71a1 1 0 0 1 0-1.41zm2.12-9.19a1 1 0 0 1 0 1.41l-.71.71a1 1 0 1 1-1.41-1.41l.71-.71a1 1 0 0 1 1.41 0zM8.46 15.53a1 1 0 0 1 0 1.41l-.71.71a1 1 0 0 1-1.41-1.41l.71-.71a1 1 0 0 1 1.41 0z"/></svg>
		  </a>
		</li>
	  </ul>
	</div>
  </div>
</div>
