---
layout: default
---
  <div id="deadlinesid" class="col-sm-12">
    <h1>Conference <span style="color:rgb(188, 90, 93);">D</span><span style="color:rgb(242, 221, 134);">e</span><span style="color:rgb(111, 142, 114);">a</span><span style="color:rgb(75, 85, 210);">d</span><span style="color:rgb(119, 94, 145);">l</span><span style="color:rgb(188, 90, 93);">i</span><span style="color:rgb(242, 221, 134);">n</span><span style="color:rgb(111, 142, 114);">e</span><span style="color:rgb(75, 85, 210);">s</span></h1>
    {{ content }}
  </div>
